<section ng-controller='simonCtrl' id='simon'>
        <h1>Simon says</h1>
        <div class="buttons">
        <button type="button" ui-sref="home">click to quit</button>
        <button id="start" type="button" ng-click="start(true)">Click to Play</button>
      </div>
        <div class="info">
            <div class="highscore">
           <h3>
           HighScore: {{highscore.score}} 
           </h3>
           <h3>
            By : {{highscore.name}}
        </h3>
        </div>
            <hr>
            Level: {{times}}
            Color: {{currentColor}}  
        </div>

     <div class="simon">
         <div class="pad red" ng-click="click('Red')">
             <!-- Red -->
         </div>
         
         <div class="pad blue" ng-click="click('Blue')">
             <!-- Blue -->
         </div>
         <br>
         <div class="pad green" ng-click="click('Green')">
             <!-- Green -->
         </div>
         
         <div id="o" class='pad orange' ng-click="click('Orange')">
             <!-- Orange -->
         </div>
         <div class="pad display" id="display">{{stat}}</div>
     </div>
    </section>